
@{
    Layout = "~/Views/Shared/_LayoutMainWebsite.cshtml";
    ViewBag.Title = "Pricing";
}

<script>
    $(document).ready(function () {
        $("#btnLogin").removeClass("btn-white");
    });
</script>
<section id="pricing" class="vc_row bg-cover pt-60 pb-100" style="background-image: url(/Content/MainWebsite/assets/demo/bg/bg-79.svg); background-position: center top;">
<br />

				<div class="container">

					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title text-center mb-90">
								
								<h2><strong>Affordable</strong> pricing</h2>
							</header>

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->

					<div class="row mx-md-0">

						<div class="lqd-column col-md-4 px-md-0">

							<div class="pricing-table pricing-table-agency">
								<div class="pricing-table-header">
									<figure class="mb-7 loaded">
										<img src="/Content/MainWebsite/assets/demo/misc/pricing-table-1.png" alt="Personal Plan">
									</figure>
									<h5>Personal</h5>
									<p class="pricing"><sup>$</sup>9.99<small>month</small></p>
								</div><!-- /.pricing-table-header -->
								<div class="pricing-table-body">
									<ul>
										<li>Custome Domains</li>
										<li>Sleep after 30 mins ofactivity</li>
									</ul>
								</div><!-- /.pricing-table-body -->
								<div class="pricing-table-footer">
									<a href="#" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-05 px-2">
										<span>
											<span class="btn-txt">Get started now</span>
										</span>
									</a>
								</div><!-- /.pricing-table-footer -->
							</div><!-- /.pricing-table -->

						</div><!-- /.lqd-column col-md-4 px-md-0 -->

						<div class="lqd-column col-md-4 px-md-0">

							<div class="pricing-table pricing-table-agency featured">
								<span class="pricing-table-featured-label font-weight-bold text-uppercase ltr-sp-25"><span>Popular</span></span>
								<div class="pricing-table-header">
									<figure class="mb-7 loaded">
										<img src="/Content/MainWebsite/assets/demo/misc/pricing-table-2.png" alt="Small Team Plan">
									</figure>
									<h5>Small Team</h5>
									<p class="pricing"><sup>$</sup>49.99<small>month</small></p>
								</div><!-- /.pricing-table-header -->
								<div class="pricing-table-body">
									<ul>
										<li>Never sleeps</li>
										<li>Multiple workers for morepowerful apps</li>
									</ul>
								</div><!-- /.pricing-table-body -->
								<div class="pricing-table-footer">
									<a href="#" class="btn btn-default text-uppercase btn-sm circle btn-solid border-thin font-size-14 font-weight-bold ltr-sp-05 px-2">
										<span>
											<span class="btn-txt">Get started now</span>
										</span>
									</a>
								</div><!-- /.pricing-table-footer -->
							</div><!-- /.pricing-table -->

						</div><!-- /.lqd-column col-md-4 px-md-0 -->

						<div class="lqd-column col-md-4 px-md-0">

							<div class="pricing-table pricing-table-agency">
								<div class="pricing-table-header">
									<figure class="mb-7 loaded">
										<img src="/Content/MainWebsite/assets/demo/misc/pricing-table-3.png" alt="Small Team Plan">
									</figure>
									<h5>Enterprise</h5>
									<p class="pricing"><sup>$</sup>99.99<small>month</small></p>
								</div><!-- /.pricing-table-header -->
								<div class="pricing-table-body">
									<ul>
										<li>Dedicated</li>
										<li>Simple horizontalscalability</li>
									</ul>
								</div><!-- /.pricing-table-body -->
								<div class="pricing-table-footer">
									<a href="#" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-05 px-2">
										<span>
											<span class="btn-txt">Get started now</span>
										</span>
									</a>
								</div><!-- /.pricing-table-footer -->
							</div><!-- /.pricing-table -->

						</div><!-- /.lqd-column col-md-4 px-md-0 -->

					</div><!-- /.row mx-md-0 -->

				

				</div><!-- /.container -->
			</section>
