
@{
    ViewBag.Title = "Completed Medical Tests";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@{
    LaboratoryBusiness.Repositories.User.IAdminDetailRepository admindetail = ((DBInitializer)ViewBag.currentdomaindb).AdminDetailRepository();
    LaboratoryBusiness.POCO.User.Cl_AdminDetail _addetail = admindetail.GetAll().FirstOrDefault();

    LaboratoryBusiness.Repositories.Admin.ISystemUserRepository su = new LaboratoryBusiness.BLL.Admin.SystemUserRepository();
    LaboratoryBusiness.POCO.Admin.SystemUser supoco = su.GetByID(_addetail.SystemClientID.Value);

    LaboratoryBusiness.Repositories.Admin.IClientRepository cl = new LaboratoryBusiness.BLL.Admin.ClientRepository();
    LaboratoryBusiness.POCO.Admin.Client clpoco = cl.GetByID(supoco.DetailID.Value);
    int role = MySession.GetClientSession(clpoco.Subdomain).CurrentRole.RoleID;

}
<script>
    var currentmenu = 32;
    var allloaded = false;
    var displaypanel = "gridarea";
    $(document).ready(function () {


        MakeRequest(_User_MedicalTest_GetList, "POST", { "status": "Completed" }, "json",
function (jqXHR, settings) {
    //For Before Send
    $('.loadscreen').fadeIn();
},
function (data, status, xhr) {
    //For Success
    $('.loadscreen').fadeOut();
    var rs = WebResponse(data);
    var outputdt = {};
    if (rs.ResponseType == "Simple") {
        var dt = rs.ResponseData.testjson;
        outputdt = dt;
    }

    $('#testtable').on('init.dt', function () {
        allloaded = true;
    }).DataTable({
        data: outputdt,
        columns: [
            { data: 'TestID' },
            { data: 'TestName' },
            { data: 'PatientName' },
            { data: 'TestCreatedDateCustom' },
            { data: 'City' },
            { data: 'Status' },
            { data: 'TestID' },
            { data: 'TestID', className: 'editcolumn' },
            { data: 'TestID' }

        ],
        "columnDefs": [
            {
                "render": function (data, type, row) {
                    var returnstring = '<a href="/User/MedicalTest?IsEdit=1&EditId=' + data + '" title="Work on it" target="_blank"><button type="button" class="btn btn-success "><i class="nav-icon i-Pen-2 "></i></button></a>';
                    return returnstring;
                },
                "targets": 7
            },
            {
                "render": function (data, type, row) {
                    if (data == "Completed") {
                        return '<span class="badge badge-success">Completed</span>';
                    }

                    else if (data == "Pending") {
                        return '<span class="badge badge-warning">Pending</span>';
                    }
                    else {
                        return data;
                    }
                },
                "targets": 5
            },
            {
                "render": function (data, type, row) {
                    return '<a href="/User/MedicalTest?IsEdit=0&EditId=' + data + '" target="_blank" title="View Detail"><button type="button" class="btn btn-info"><i class="nav-icon i-Magnifi-Glass1"></i></button></a>';
                },
                "targets": 6
            },
            {

                "render": function (data, type, row) {

                    if (@role == 1 || @role == 5 || @role == 10 || @role == 6) {
                        return '<button type="button" class="btn btn-info ViewReport" id="ViewReport" data-id=' + data + '><i class="nav-icon i-Magnifi-Glass1"></i></button>';
                    }
                    else {
                        return "";
                    }
                },  
                "targets": 8,
              
            }
        ]
    });


},
function (jqXhr, textStatus, errorMessage) {
    //For Error
    $('.loadscreen').fadeOut();
    WebResponse(new { ResponseType: "toastr-error", description: "CL-Error", title: "Something went wrong (C)", data: {} });
            });
        $(document).on("click", ".ViewReport", function (e) {
            //$('.ViewReport').click(function (e) {
            debugger;
            //$mymodal = $("#myModal");
            // $mymodal.modal("show");
            e.preventDefault();
            var $form = $(this);
            var dataId = $(this).attr("data-id");

            $.post('./ViewReport', { Id: dataId }).done(function (res) {
                debugger;
                $mymodal = $("#myModal");
                //update the modal's body with the response received
                $mymodal.find("div.modal-body").html(res);
                // Show the modal
                $mymodal.modal("show");
            });
        });

    });
    function PrintDiv() {
        debugger;

        document.getElementById("name").innerHTML = "XXXX";
        document.getElementById("dob").innerHTML = "XXXX";
        document.getElementById("address").innerHTML = "XXXX";
        document.getElementById("gender").innerHTML = "XXXX";

        var contents = document.getElementById("divprint").innerHTML;

        var frame1 = document.createElement('iframe');
        frame1.name = "frame1";
        frame1.id = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-10000px";
        document.body.appendChild(frame1);
        var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        frameDoc.document.write('</head><body>');
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
        }, 500);
        return false;
    }

</script>

<div class="breadcrumb">
    <h1 class="mr-2" id="mainheading">Completed</h1>
    <ul>
        <li><a href="">Medical Test</a></li>
        <li id="subheading">Completed</li>
    </ul>
</div>

<div id="backbtndiv" style="display:none">
    <div class="row" style="margin:0 0.83em 0">
        <div class="offset-md-11"></div>
        <div class="col-md-1">
            <button type="button" class="btn btn-gray-300" id="backtogridbtn"><i class="nav-icon i-Back1 "></i>Back</button>
        </div>
    </div>
    <br />
    <br />
</div>
<div class="separator-breadcrumb border-top"></div>
<div id="gridarea" style="visibility:hidden">
    <div class="row mb-4">

        <div class="col-md-12 mb-3">
            <div class="card text-left">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="testtable">
                            <thead>
                                <tr>
                                    <th scope="col">Test ID #</th>
                                    <th scope="col">Test Name</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Test Created Date</th>
                                    <th scope="col">D.O.B.</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">View Detail</th>
                                    <th scope="col">Action</th>
                                    @{
                                        if (role == 1 || role == 5 || role == 10 || role == 6)
                                        {
                                            <th scope="col">View Report</th>
                                        }
                                       else
                                        {
                                            <th scope="col" style="display:none">View Report</th>
                                        }

                                    }

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- end of col-->
    </div>
</div> 
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width:125%">
            <div id="divprint">

                <div class="modal-body">


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" id="btnPrint" onclick="PrintDiv();" class="btn btn-primary">Print</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>  