
@{
    ViewBag.Title = "Add or Update Patients";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<script>
    var currentmenu = 28;

    $(document).ready(function () {
        var query = getUrlVars();
        if (query["IsEdit"] != null) {
            if (query["IsEdit"] == "1" && query["EditId"] != null) {
                $("#mainheading").html("Update Patient");
                $("#subheading").html("Update Patient");
                $("#cardheading").html("Edit Patient");
                $("#cancelbtn").hide();
                $("#saveorupdatebtn").text("Update");

                $("#editid").val(query["EditId"]);
                $("#patientid").val(query["EditId"]);

                MakeRequest(_User_Patients_Get, "POST", objectifyForm($("#patientform").serializeArray()), "json",
    function (jqXHR, settings) {
        //For Before Send
        $('.loadscreen').fadeIn();
    },
    function (data, status, xhr) {
        //For Success
        $('.loadscreen').fadeOut();
        var rs = WebResponse(data);
        if (rs.ResponseType == "Simple") {
            var dt_patientuser = rs.ResponseData.patientuserjson;

            $("#username").val(dt_patientuser.Username);
            $("#username").attr("disabled", "disabled");
            $("#firstname").val(dt_patientuser.FirstName);
            $("#middlename").val(dt_patientuser.MiddleName);
            $("#lastname").val(dt_patientuser.LastName);
            $("#email").val(dt_patientuser.Email);
            $("#mobileno").val(dt_patientuser.MobileNo);
            $("#address").val(dt_patientuser.Address);
            $("#status").val((dt_patientuser.IsActive == 1 ? "true" : "false"));
            $("#age").val(dt_patientuser.Age);
            $("#gender").val(dt_patientuser.Sex);
            $("#streetname").val(dt_patientuser.Streetname);
            $("#city").val(dt_patientuser.City);
            $("#alternateaddress").val(dt_patientuser.AlternateAddress);
            $("#alternatephoneno").val(dt_patientuser.AlternatePhoneNo);
            $("#referingdoctor").val(dt_patientuser.ReferingDoctor);
            $("#referinghospital").val(dt_patientuser.ReferingHospital);
            $("#paymentmode").val(dt_patientuser.PaymentMode);
            $("#payment").val(dt_patientuser.Payment);


        }
    },
function (jqXhr, textStatus, errorMessage) {
    //For Error
    $('.loadscreen').fadeOut();
    WebResponse(new { ResponseType: "toastr-error", description: "CL-Error", title: "Something went wrong (C)", data: {} });
});
            }
        }

    })
    
</script>
@{
    LaboratoryBusiness.Repositories.User.IAdminDetailRepository admindetail = ((DBInitializer)ViewBag.currentdomaindb).AdminDetailRepository();
    LaboratoryBusiness.POCO.User.Cl_AdminDetail _addetail= admindetail.GetAll().FirstOrDefault();

    LaboratoryBusiness.Repositories.Admin.ISystemUserRepository su = new LaboratoryBusiness.BLL.Admin.SystemUserRepository();
    LaboratoryBusiness.POCO.Admin.SystemUser supoco = su.GetByID(_addetail.SystemClientID.Value);

    LaboratoryBusiness.Repositories.Admin.IClientRepository cl = new LaboratoryBusiness.BLL.Admin.ClientRepository();
    LaboratoryBusiness.POCO.Admin.Client clpoco= cl.GetByID(supoco.DetailID.Value);

    int hospitalid = MySession.GetClientSession(clpoco.Subdomain).HospitalDetailID.HasValue ? MySession.GetClientSession(clpoco.Subdomain).HospitalDetailID.Value : 0;
    string hospitalName;
    LaboratoryBusiness.Repositories.User.IHospitalDetail hospitalDetail = ((DBInitializer)ViewBag.currentdomaindb).HospitalDetailRepository();
    var addhospitalail = hospitalDetail.GetByID(hospitalid);
    if (hospitalid>0)
    {
        hospitalName = addhospitalail.HospitalName;
    }
    else
    { hospitalName = null; }





}
<div class="breadcrumb">
    <h1 class="mr-2" id="mainheading">Create Patient</h1>
    <ul>
        <li><a href="">Patient</a></li>
        <li id="subheading">Create Patient</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="2-columns-form-layout">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::form 3 Horizontal-->
                <form id="patientform">
                    <!-- start card 3 Columns Horizontal Form Layout-->
                    <div class="card ul-card__margin-25">
                        <div class="card-header bg-transparent">
                            <h3 class="card-title" id="cardheading">Add Patient</h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group row">
                                <label for="firstname" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    First Name:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="firstname" name="firstname" required="required" placeholder="Enter first name">
                                    <small id="firstnamehelpblock" class="ul-form__text form-text ">
                                        Please enter first name
                                    </small>
                                </div>

                                <label for="middlename" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Middle Name:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="middlename" name="middlename" placeholder="Enter middle name">
                                    <small id="middlenamehelpblock" class="ul-form__text form-text ">
                                        Please enter middle name
                                    </small>
                                </div>

                                <label for="lastname" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Last Name:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="lastname" name="lastname" required="required" placeholder="Enter last name">
                                    <small id="lastnamehelpblock" class="ul-form__text form-text ">
                                        Please enter last name
                                    </small>
                                </div>
                            </div>


                            @{
                                if (hospitalid > 0)
                                {

                                    <div class="custom-separator" style="display:none"></div>

                                    <div class="form-group row" style="display:none">
                                        <label for="email" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Email:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                            <small id="emailhelpblock" class="ul-form__text form-text ">
                                                Please enter email
                                            </small>
                                        </div>

                                        <label for="mobileno" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Mobile No:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="text" class="form-control" id="mobileno" name="mobileno" placeholder="Enter mobile no">
                                            <small id="mobilenohelpblock" class="ul-form__text form-text ">
                                                Please enter mobile no
                                            </small>
                                        </div>

                                        <label for="status" class="ul-form__label ul-form--margin col-lg-1 col-form-label ">Status:</label>
                                        <div class="col-lg-3">


                                            <select class="form-control" id="status" name="status">
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>


                                            <small id="statusHelpBlock" class="ul-form__text form-text ">
                                                Please select status
                                            </small>
                                        </div>

                                    </div>

                                }
                                else
                                {

                                    <div class="custom-separator"></div>

                                    <div class="form-group row">
                                        <label for="email" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Email:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                            <small id="emailhelpblock" class="ul-form__text form-text ">
                                                Please enter email
                                            </small>
                                        </div>

                                        <label for="mobileno" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Mobile No:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="text" class="form-control" id="mobileno" name="mobileno" placeholder="Enter mobile no">
                                            <small id="mobilenohelpblock" class="ul-form__text form-text ">
                                                Please enter mobile no
                                            </small>
                                        </div>

                                        <label for="status" class="ul-form__label ul-form--margin col-lg-1 col-form-label ">Status:</label>
                                        <div class="col-lg-3">


                                            <select class="form-control" id="status" name="status">
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>


                                            <small id="statusHelpBlock" class="ul-form__text form-text ">
                                                Please select status
                                            </small>
                                        </div>

                                    </div>
                                }
                            }

                            <div class="custom-separator"></div>

                            <div class="form-group row">
                                <label for="address" class="ul-form__label ul-form--margin col-lg-1 col-form-label ">Address:</label>
                                <div class="col-lg-3">
                                    <textarea class="form-control" id="address" name="address" placeholder="Enter address"></textarea>
                                    <small id="addressBlock" class="ul-form__text form-text ">
                                        Please enter address
                                    </small>
                                </div>


                                <label for="username" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Username:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="username" name="username" required="required" placeholder="Enter username">
                                    <small id="usernamehelpblock" class="ul-form__text form-text ">
                                        Please enter username (@@@clpoco.CompanyName.Replace(" ", "").Trim());
                                    </small>
                                </div>

                                <label for="age" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Age:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="age" name="age" placeholder="Enter Age">
                                    <small id="agehelpblock" class="ul-form__text form-text ">
                                        Please enter age
                                    </small>
                                </div>

                            </div>

                            <div class="custom-separator"></div>

                            <div class="form-group row">
                                <label for="gender" class="ul-form__label ul-form--margin col-lg-1 col-form-label ">Gender:</label>
                                <div class="col-lg-3">


                                    <select class="form-control" id="gender" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>


                                    <small id="genderHelpBlock" class="ul-form__text form-text ">
                                        Please select gender
                                    </small>
                                </div>

                                <label for="streetname" class="ul-form__label ul-form--margin col-lg-1   col-form-label "  style="display:none">
                                    Report Number:
                                </label>
                                <div class="col-lg-3 " style="display:none">
                                    <input type="text" class="form-control" id="streetname" name="streetname" placeholder="Enter Report Number">
                                    <small id="streetnamehelpblock" class="ul-form__text form-text ">
                                        Please enter Report Number
                                    </small>
                                </div>

                                <label for="city" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    D.O.B.:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="Enter D.O.B.">
                                    <small id="cityhelpblock" class="ul-form__text form-text ">
                                        Please enter D.O.B.
                                    </small>
                                </div>

                            </div>

                            @{
                                if (hospitalid > 0)
                                {
                                    <div class="custom-separator" style="display:none"></div>

                                    <div class="form-group row" style="display:none">
                                        <label for="alternateaddress" class="ul-form__label ul-form--margin col-lg-1 col-form-label ">Alternate Address:</label>
                                        <div class="col-lg-3">
                                            <textarea class="form-control" id="alternateaddress" name="alternateaddress" placeholder="Enter alternate address"></textarea>
                                            <small id="alternateaddressBlock" class="ul-form__text form-text ">
                                                Please enter alternate address
                                            </small>
                                        </div>

                                        <label for="alternatephoneno" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Alternate Phone No:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="text" class="form-control" id="alternatephoneno" name="alternatephoneno" placeholder="Enter alternate phoneno">
                                            <small id="alternatephonenohelpblock" class="ul-form__text form-text ">
                                                Please enter alternate phoneno
                                            </small>
                                        </div>

                                        <label for="referingdoctor" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Refering Doctor:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="text" class="form-control" id="referingdoctor" name="referingdoctor" placeholder="Enter refering doctor">
                                            <small id="referingdoctorhelpblock" class="ul-form__text form-text ">
                                                Please enter refering doctor
                                            </small>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="custom-separator"></div>

                                    <div class="form-group row">
                                        <label for="alternateaddress" class="ul-form__label ul-form--margin col-lg-1 col-form-label ">Alternate Address:</label>
                                        <div class="col-lg-3">
                                            <textarea class="form-control" id="alternateaddress" name="alternateaddress" placeholder="Enter alternate address"></textarea>
                                            <small id="alternateaddressBlock" class="ul-form__text form-text ">
                                                Please enter alternate address
                                            </small>
                                        </div>

                                        <label for="alternatephoneno" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Alternate Phone No:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="text" class="form-control" id="alternatephoneno" name="alternatephoneno" placeholder="Enter alternate phoneno">
                                            <small id="alternatephonenohelpblock" class="ul-form__text form-text ">
                                                Please enter alternate phoneno
                                            </small>
                                        </div>

                                        <label for="referingdoctor" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                            Refering Doctor:
                                        </label>
                                        <div class="col-lg-3 ">
                                            <input type="text" class="form-control" id="referingdoctor" name="referingdoctor" placeholder="Enter refering doctor">
                                            <small id="referingdoctorhelpblock" class="ul-form__text form-text ">
                                                Please enter refering doctor
                                            </small>
                                        </div>

                                    </div>
                                }
                            }

                         

       
                            <div class="custom-separator"></div>

                            <div class="form-group row">
                                <label for="referinghospital" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Refering Hospital:
                                </label>

                               
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="referinghospital" name="referinghospital" value="@hospitalName" placeholder="Enter refering hospital">
                                    <small id="referinghospitalhelpblock" class="ul-form__text form-text ">
                                        Please enter refering hospital
                                    </small>
                                </div>

                                <label for="paymentmode" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Payment Mode:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="text" class="form-control" id="paymentmode" name="paymentmode" placeholder="Enter payment mode">
                                    <small id="paymentmodehelpblock" class="ul-form__text form-text ">
                                        Please enter payment mode
                                    </small>
                                </div>

                                <label for="payment" class="ul-form__label ul-form--margin col-lg-1   col-form-label ">
                                    Payment:
                                </label>
                                <div class="col-lg-3 ">
                                    <input type="number" class="form-control" id="payment" name="payment" required="required" placeholder="Enter payment">
                                    <small id="paymenthelpblock" class="ul-form__text form-text ">
                                        Please enter payment
                                    </small>
                                </div>

                            </div>


                        </div>
                        <div class="card-footer">
                            <div class="mc-footer">
                                <div class="row text-center">
                                    <div class="col-lg-12 ">
                                        <button type="submit" class="btn btn-primary m-1" id="saveorupdatebtn">Save</button>
                                        <button type="reset" class="btn btn-outline-secondary m-1" id="cancelbtn">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card 3 Columns Horizontal Form Layout-->
                    <input type="hidden" id="editid" name="editid" value="0" />
                    <input type="hidden" id="patientid" name="patientid" value="0" />
                </form>
                <!-- end::form 3-->





            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#saveorupdatebtn").click(function () {
            var form = document.querySelector('#patientform');
            if (form.reportValidity()) {

                var _posturl = _User_Patients_Create;
                if ($("#editid").val() > 0) {
                    _posturl = _User_Patients_Update;
                }
                MakeRequest(_posturl, "POST", objectifyForm($("#patientform").serializeArray()), "json",
                    function (jqXHR, settings) {
                        //For Before Send
                        $('.loadscreen').fadeIn();
                    },
                    function (data, status, xhr) {
                        //For Success

                        $('.loadscreen').fadeOut();

                        var rs = WebResponse(data);
                        if (rs.ResponseType == "swal-sucsess") {
                            $("#patientform").trigger("reset");
                                setTimeout(function () {
                                    window.location.replace("/User/Patients/ViewAll");
                                }, 2500);
                        }
                    },
                function (jqXhr, textStatus, errorMessage) {
                    //For Error
                    $('.loadscreen').fadeOut();
                    WebResponse(new { ResponseType: "toastr-error", description: errorMessage, title: "Something went wrong (C)", data: {} });
                });
            }
            return false;
        })
    })
</script>